// COLORS 
$color-primary: #2e85ff;
$color-primary-dark: #166ce6;

$color-heading: #112950;
$color-paragraph: #324b72;

$color-gray-light: #f5f8fb;

$gutter-vert: 12rem;

$font-small: 1.7rem;


/*:root {
    --color-primary: #013b8e;
    --color-secondary: #eeeeeef1;

}*/

// GRID
$grid-width: 100rem;
//$gutter-vertical: 8rem;
//$gutter-vertical-small: 6rem;
//$gutter-horizontal: 2rem;